<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29267863601-rpbnjuq3o3rtbt8ikbnulibivpn105um.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29267863601-rpbnjuq3o3rtbt8ikbnulibivpn105um</string>
	<key>API_KEY</key>
	<string>AIzaSyB4k9hmMEQw27vAMuT9l892RyvmtWYS8wA</string>
	<key>GCM_SENDER_ID</key>
	<string>29267863601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kotov.Parkoved</string>
	<key>PROJECT_ID</key>
	<string>parkoved-a371f</string>
	<key>STORAGE_BUCKET</key>
	<string>parkoved-a371f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29267863601:ios:0a71def1394a1a9a7b8d10</string>
</dict>
</plist>